
body {
    background-color: lightgray;
    font-family: 
    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    line-height: 1.6em;
}

#header-main {
    text-align: center;
    background-color: burlywood;
    padding: 10px;
}

#footer-main {
    text-align: center;
}

.box-1 {

}

.list-1 {
    
}